@model CustomerInfoApp.Models.CustomerInfo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.Name?</h3>
<div>
    <h4>CustomerInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            Telephone Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Contact Person Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt class = "col-sm-2">
            Contact Person Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonEmail)
        </dd>
        <dt class = "col-sm-2">
            VAT Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vatnumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
